*{
	padding: 0;
	margin: 0;
	font-family: "arial", sans-serif;
	font-size: 10px;
	color: #ffffff;
}

.page {
	background-color: #222222;
}

.body {
	display: flex;
	flex-direction: column;
	align-content: center;
	flex-wrap: wrap;
	text-align: center;
}

.deck-block {
	position: absolute;
	z-index: -1;
	top: 13%;
	left: 50%;
	margin-left: -40em;
	width: 80em;
	height: 80em;
	border-radius: 50%;
	background-image: linear-gradient(90deg, lime, cyan);
}

.title {
	font-size: 7em;
	margin: 30px 0;
	color: orange;
}

.list {
	list-style: none;
}

.list__item {
	width: 70vw;
	position: relative;
	height: fit-content;
	padding: 10px 0 10px;
	text-align: center;
	margin: 0 0 10px;
	font-size: 3em;
	font-weight: 600;
	/*background-color: transparent;*/
	background-color: rgba(255, 255, 255, .3);
	border: 2px solid orangered;
	border-radius: 5px;
	color: #222222;
	/*filter: blur(2px);*/
}

.list__item::before {
	content: "";
	position: absolute;
	width: 70vw;
	height: 35px;
	top: 0;
	left: 0;
	/*border: 3px solid yellow;*/
	background-color: rgba(255, 255, 255, .3);
	filter: blur(5px);
}

.list__item:hover {
	transition: background-color .2s;
	background-color: rgba(255, 255, 255, .8);
}